@tailwind base;
@tailwind components;
@tailwind utilities;

.text-inter {
  font-family: var(--font-inter);
}

.text-bungee {
  font-family: var(--font-bungee);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
